<!DOCTYPE html>
<html ng-app="Test">
<head lang="en">
    <meta charset="UTF-8">
    <script src="lib/dependencies/angular.min.js"></script>
    <script src="script/test.js"></script>
    <title>Test</title>
    <style>
        TABLE, TBODY, TR, TD, TH {
            text-align: left;
            padding: 0;
            border-spacing: 10px; /* or border-collapse:collapse */
        }
    </style>
</head>
<body ng-controller="ProjectController">
Projekat:
<select ng-model="currentProject" ng-change="selectChanged()">
    <option ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
</select>

<div ng-show="tasks">
    <table>
        <thead>
        <tr>
            <th>Naziv taska</th>
            <th>Opis</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="task.project.id==currentProject" ng-repeat="task in tasks">
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
