<div id="wrapper" ng-controller="ProjectDetailsController">
    <div ng-include="'navigation.html'"></div>
    <script src="lib/dependencies/JSOG.js"></script>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <!--HEADER-->
                <div class="row">
                    <div class="col-md-5">
                        <h1>
                            {{navigation.header}}
                            <small>{{navigation.subHeader}}</small>
                        </h1>
                    </div>
                    <div class="col-md-6" ng-show="message.text">
                        <div ng-include="'messageBox.html'"></div>
                    </div>
                </div>
                <!--BODY-->
                <div class="custom-navigation-container">
                    <div class="navbar navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="" data-toggle="modal" data-target="#newTaskModal">New task</a></li>
                                    <li><a href="" data-toggle="modal" data-target="#usersModal">Users</a></li>
                                    <!--<li><a href="" data-toggle="modal" data-target="#userPreviewModal">View project users</a></li>-->
                                    <!--<li ng-show="isUserOwner"><a ng-show="isUserOwner" href="" data-toggle="modal" data-target="#addUserOnProjectModal">Add user</a></li>-->
                                    <!--<li><a href="/PMS-NSI/rest/projects/{{project.id}}/report" ng-click="getReport()">Export statistics</a></li>-->
                                    <li><a href="" data-toggle="modal" data-target="#editProjectModal">Edit project</a></li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                   <div class="panel-title" style="font-weight: bold;"> <i class="fa fa-tasks fa-fw"></i> Tasks Panel
                                                   <span style="float: right;">
                                                       Order by:
                                                       <select  id="sortType"
                                                                ng-model="currentSortOrderId"
                                                                ng-init="currentSortOrderId='NO_ORDER';"
                                                                style="font-weight: normal;
                                                                       font-size: 14px;"
                                                                ng-change="loadTasks()">
                                                           <option value="NO_ORDER">Not ordered</option>
                                                           <option value="PRIORITY">Priority</option>
                                                           <option value="DUE_DATE">Due date</option>
                                                       </select>
                                                   </span>
                                   </div>

                                </div>
                                <!--<div class="panel-body">-->
                                    <!--<div class="list-group" ng-repeat="task in tasks">-->
                                        <!--<div class="list-group-item" ng-click="setSelectedTask(task)">-->
                                            <!--<span class="badge">{{task.user.userPrincipal.username}}</span>-->
                                            <!--<i class="fa fa-fw fa-calendar"></i>{{task.name}}-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>
                                    <tr>
                                        <th>Task name</th>
                                        <th>User</th>
                                        <th>Due date</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                    </tr>
                                    <tr ng-repeat="task in tasks" class="{{task.style}}" ng-click="setSelectedTask(task)">
                                        <!--<td style="background-color:#f0c74e">{{task.name}}</td>-->
                                        <td>{{task.name}}</td>
                                        <td>{{task.user.userPrincipal.username}}</td>
                                        <td>{{task.dueDate.substr(0, 10)}}</td>
                                        <td>{{capitalizedValue(task.taskPriority)}}</td>
                                        <td>{{task.taskStatusString}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-tasks fa-fw"></i><span style="font-weight: bold;">Task details</span>
                                        <!--<span class="badge pull-right"><a href="" style="color: yellow" data-toggle="modal" data-target="#editTaskModal">Edit</a></span></h3>-->
                                        <!--<span class="badge pull-right"><a href="" ng-click="validateTaskSelection()" data-toggle="modal" data-target="{{selectedTask.id!=null?'#assigneeTaskModal':''}}">Change assignment</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" data-toggle="modal"  ng-click="validateTaskSelection()" data-target="{{selectedTask.id!=null?'#editTaskModal':''}}">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" ng-click="updateTask()">Save</a></span></h3>-->
                                        <span class="badge pull-right"><a href="" ng-click="updateTask()">Save</a></span></h3>

                                </div>
                                <div class="panel-body">
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="previewTaskName">Task name</label>
                                            <input type="text" ng-required="true" ng-min="1" class="form-control" id="previewTaskName" ng-model="selectedTask.name" placeholder="Task name">
                                        </div>
                                        <div class="form-group">
                                            <label for="previewTastDescription">Task description</label>
                                            <textarea class="form-control" id="previewTastDescription" ng-model="selectedTask.description" rows="5"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="previewTaskPriority">Priority</label>
                                            <select name="taskPriority" class="form-control" id="previewTaskPriority" ng-model="selectedTask.taskPriority"  required>
                                                <option value="LOW" selected>Low</option>
                                                <option value="NORMAL">Normal</option>
                                                <option value="HIGH">High</option>
                                            </select>
                                        </div>

                                        <!--<div class="form-group">-->
                                            <!--<label for="previewtaskPriority">Priority</label>-->
                                            <!--<input type="text" ng-required="true" readonly ng-min="1" class="form-control" id="previewtaskPriority" ng-model="selectedTask.taskPriority" placeholder="Priority">-->
                                        <!--</div>-->

                                        <div class="form-group">
                                            <label for="previewTaskUser">Assigned to</label>
                                            <select name="aTaskUser" class="form-control" id="previewTaskUser" ng-init="assigneedTaskUserId=selectedTask.user.id" ng-model="assigneedTaskUserId"  ng-required="true">
                                                <option ng-repeat="user in projectUsers" value="{{user.id}}">{{user.firstName +' '+user.lastName}}</option>
                                            </select>
                                        </div>

                                        <!--<div class="form-group">-->
                                            <!--<label for="prewievAssigneed">Assigned to</label>-->
                                            <!--<input type="text" name="prewievAssigneed" readonly class="form-control" id="prewievAssigneed"  ng-model="selectedTask.user.userPrincipal.username">-->
                                        <!--</div>-->

                                        <!--<div class="form-group">-->
                                            <!--<label for="previewtaskDueDate">Due date</label>-->
                                            <!--<input type="text" name="taskDueDate" readonly class="form-control" id="previewtaskDueDate"  ng-model="formatedDate"><br><br>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--BODY-->
            </div>
        </div>

    </div>
    <!-- /. PAGE WRAPPER  -->

    <!--MODALS-->

    <!-- Users-->
    <div class="modal fade" tabindex="-1" role="dialog" id="userPreviewModal" aria-labelledby="userPreviewModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="userPreviewModalLabel">Preview users</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Login</th>
                            <th ng-show="isUserOwner"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in projectUsers">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.userPrincipal.username}}</td>
                            <td ng-show="isUserOwner">
                                <a href="" ng-show="user.id!=authData.user.id" ng-click="removeUserFromProject(user.id)"><i class="glyphicon glyphicon-trash"></i></a>
                                <div ng-show="user.id==authData.user.id">
                                    Owner
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
             </div>
        </div>
    </div>

    <!-- Add user on project-->
    <div class="modal fade" tabindex="-1" role="dialog" id="addUserOnProjectModal" aria-labelledby="addUserOnProjectModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addUserOnProjectModalLabel">Add users</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Login</th>
                            <th ng-show="isUserOwner"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in unlinkedUsers">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.userPrincipal.username}}</td>
                            <td ng-show="isUserOwner">
                                <a href=""ng-click="addUser(user.id)"><i class="glyphicon glyphicon-plus"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
             </div>
        </div>
    </div>

    <!-- New Task-->
    <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newTaskModalLabel">New task</h4>
                </div>
                <form ng-submit="createNewTask()">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="taskName">Task name</label>
                            <input type="text" ng-required="true" ng-min="1" class="form-control" id="taskName" ng-model="newTask.name" placeholder="Task name">
                        </div>
                        <div class="form-group">
                            <label for="projectDescription">Task description</label>
                            <textarea class="form-control" id="projectDescription" ng-model="newTask.description" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="taskPriority">Priority</label>
                            <select name="taskPriority" class="form-control" id="taskPriority" ng-model="newTask.taskPriority"  ng-required="true">
                                <option value="LOW" selected>Low</option>
                                <option value="NORMAL">Normal</option>
                                <option value="HIGH">High</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="taskAssignee">Assignee</label>
                            <select name="taskAssignee" class="form-control" id="taskAssignee" ng-model="newTask.user"  ng-required="true">
                                <option ng-repeat="user in projectUsers" value="{{user}}">{{user.firstName +' '+user.lastName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="taskDueDate">Due date</label>
                            <input type="date" name="taskDueDate" class="form-control" id="taskDueDate"  ng-model="newTask.dueDate" placeholder="yyyy-MM-dd" min="2015-01-01" max="2020-12-31" required><br><br>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit"  class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Edit task-->
    <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editTaskModalLabel">Edit task</h4>
                </div>
                <form ng-submit="updateTask()">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="editTaskName">Task name</label>
                            <input type="text" ng-required="true" ng-min="1" class="form-control" id="editTaskName" ng-model="selectedTask.name" placeholder="Task name">
                        </div>
                        <div class="form-group">
                            <label for="editTastDescription">Task description</label>
                            <textarea class="form-control" id="editTastDescription" ng-model="selectedTask.description" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="editTaskPriority">Priority</label>
                            <select name="taskPriority" class="form-control" id="editTaskPriority" ng-model="selectedTask.taskPriority"  required>
                                <option value="LOW" selected>Low</option>
                                <option value="NORMAL">Normal</option>
                                <option value="HIGH">High</option>
                            </select>
                        </div>

                        <!--<div class="form-group">-->
                            <!--<label for="editTaskAssignee">Assignee</label>-->
                            <!--<select name="editTaskAssignee" class="form-control" id="editTaskAssignee" ng-model="selectedTask.user.id" required>-->
                                <!--<option ng-repeat="user in projectUsers" value="{{user.id}}">{{user.firstName +' '+user.lastName}}</option>-->
                            <!--</select><br><br>-->
                        <!--</div>-->

                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit"  class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Edit project modal-->
    <div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="editProjectModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editProjectModalLabel">Edit task</h4>
                </div>
                <form ng-submit="updateProject()">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="projectName">Project name</label>
                            <input type="text" ng-required="true" ng-min="1" class="form-control" id="projectName" ng-model="project.name" placeholder="Project name">
                        </div>
                        <div class="form-group">
                            <label for="editProjectDescription">Project description</label>
                            <textarea class="form-control" id="editProjectDescription" ng-model="project.description" rows="5"></textarea>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label for="editTaskDueDate">Due date</label>-->
                        <!--<input type="date" name="taskDueDate" class="form-control" id="editTaskDueDate"  ng-model="selectedTask.dueDate" value="{{formatedDate}}"  ng-required="true" min="2000-01-02"><br><br>-->
                        <!--</div>-->

                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit"  class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="assigneeTaskModal" tabindex="-1" role="dialog" aria-labelledby="assigneeTaskModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="assigneeTaskModalLabel">Assignee task</h4>
                </div>
                <form ng-submit="assigneTask(selectedTask.id,assigneedTaskUserId)">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="aTaskName">Task name</label>
                            <input type="text" ng-required="true" ng-min="1" disabled class="form-control" id="aTaskName" ng-model="selectedTask.name" placeholder="Task name">
                        </div>
                        <div class="form-group">
                            <label for="aTaskUser">Assigned to</label>
                            <select name="aTaskUser" class="form-control" id="aTaskUser" ng-model="assigneedTaskUserId"  ng-required="true">
                                <option ng-repeat="user in projectUsers" value="{{user.id}}">{{user.firstName +' '+user.lastName}}</option>
                            </select><br><br>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label for="editTaskDueDate">Due date</label>-->
                        <!--<input type="date" name="taskDueDate" class="form-control" id="editTaskDueDate"  ng-model="selectedTask.dueDate" value="{{formatedDate}}"  ng-required="true" min="2000-01-02"><br><br>-->
                        <!--</div>-->

                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit"  class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="usersModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="usersModalLabel">Users</h4>
                </div>
                <form>
                    <tabset>
                        <tab heading="Project users">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Login</th>
                                    <th ng-show="isUserOwner"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in projectUsers">
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.userPrincipal.username}}</td>
                                    <td ng-show="isUserOwner">
                                        <a href="" ng-show="user.id!=authData.user.id" ng-click="removeUserFromProject(user.id)"><i class="glyphicon glyphicon-trash"></i></a>
                                        <div ng-show="user.id==authData.user.id">
                                            Owner
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab ng-show="isUserOwner" heading="Add new user">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Login</th>
                                    <th ng-show="isUserOwner"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in unlinkedUsers">
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.userPrincipal.username}}</td>
                                    <td ng-show="isUserOwner">
                                        <a href=""ng-click="addUser(user.id)"><i class="glyphicon glyphicon-plus"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                    </tabset>

                    <div class="modal-footer">
                        <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>