<div id="wrapper"  ng-controller="ProjectController">
    <div ng-include="'navigation.html'"></div>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <!--HEADER-->
                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            {{navigation.header}}
                            <small>{{navigation.subHeader}}</small>
                        </h1>
                    </div>
                    <div class="col-md-6" ng-show="message.text">
                        <div ng-include="'messageBox.html'"></div>
                    </div>
                </div>
                <!--BODY-->
                <div>
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="" class="navbar-brand"></a>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="" data-toggle="modal" data-target="#newProjectModal" class="navbar-brand"><i class="glyphicon glyphicon-plus"></i>New</a>
                                    </li>
                                </ul>
                                <div class="col-sm-4 col-md-4 pull-right">
                                    <form class="navbar-form" role="search">
                                        <div class="input-group">
                                            <input type="text" ng-model="searchParameter" g class="form-control" placeholder="Search" name="q">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" ng-click="searchUsers()"><i class="glyphicon glyphicon-search"></i></button>
                                                <button class="btn btn-default" ng-click="clear()"><i class="glyphicon glyphicon-remove"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--/.nav-collapse -->

                        </div>
                    </nav>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-bordered table-hover table-striped">
                                <colgroup>
                                    <col span="1" style="width: 30%;">
                                    <col span="1" style="width: 70%;">
                                </colgroup>
                                <thead>
                                <tr >
                                    <th>Project name</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="project in projects" ng-click="goToProjectDetails(project.id)">
                                    <td>{{project.name}}</td>
                                    <td>{{project.description}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--BODY-->
            </div>
        </div>

    </div>
    <!-- /. PAGE WRAPPER  -->
    <!--MODALS-->

    <!-- New Project-->
    <div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="newProjectModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newProjectModalLabel">New project</h4>
                </div>
                <form ng-submit="createNewProject()">
                    <div class="modal-body">

                            <div class="form-group">
                                <label for="projectName">Project name</label>
                                <input type="text" ng-minlength="1" class="form-control" id="projectName" ng-model="newProject.name" placeholder="Project name">
                            </div>
                            <div class="form-group">
                                <label for="projectDescription">Project description</label>
                                <input type="textarea" class="form-control" id="projectDescription" ng-model="newProject.description" placeholder="Project description">
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-click="createNewProject()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>